
*{
  font-family: "source-han-serif-tc",serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 1em;
  color: #000;
  text-decoration-line: none;
}

body{
  font-family: "source-han-serif-tc",serif;
  color: rgba(255, 255, 255, 1);
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
 }

font{
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.1em;
}

img {
  border:none;
}


.html{
  font-family: "source-han-serif-tc",serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.clear_both{
    clear: both;
}

/** adjust font size **/

@media screen and (max-width: 1023px){
    body{ font-size: 75%; }
}
@media screen and (min-width: 1024px) and (max-width: 1087px){
    body{ font-size: 80%; }
}
@media screen and (min-width: 1088px) and (max-width: 1151px){
    body{ font-size: 85%; }
}
@media screen and (min-width: 1152px) and (max-width: 1215px){
    body{ font-size: 90%; }
}
@media screen and (min-width: 1216px) and (max-width: 1279px){
    body{ font-size: 95%; }
}
@media screen and (min-width: 1280px) and (max-width: 1343px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1344px) and (max-width: 1407px){
    body{ font-size: 105%; }
}
@media screen and (min-width: 1408px) and (max-width: 1471px){
    body{ font-size: 110%; }
}
@media screen and (min-width: 1472px) and (max-width: 1535px){
    body{ font-size: 115%; }
}
@media screen and (min-width: 1536px) and (max-width: 1599px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 1600px) and (max-width: 2000px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 2001px) and (max-width: 4000px){
    body{ font-size: 180%; }
}
@media screen and (min-width: 4001px) {
    body{ font-size: 280%; }
}

.main{
  /*float: right;*/
  width: 75vw;
  /*height: 67.75vh;*/
  /*margin-top: 32.25vh;*/
  /*margin-right: -19px;*/
  margin-left: 24vw;
  margin-top: -67.5vh;
}

.main-text{ /*textblock的框框*/
  width: 32.8125vw;
  height: 40.125vh;
  margin-right: 3.125vw;
}

.main_long{
  width: 71.875vw;
  /*margin-top: 2vh;*/
  /*height: 3.75vh;*/
  padding: 5px 0.87125vw;
  background-color: rgba(60, 0, 110, 0.8);
}

.main_short{
  /*width: 28.8125vw;*/
  width: 100%;
  padding: 5px 0.87125vw;
  /*height: 3.7vh;*/
  background-color: rgba(60, 0, 110, 0.8);
}

.main-text-long{
  width:71.875vw;
}

.main-text-p{
  font-size: 0.8em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  width: 34.5vw;
  /*height: 34.375vh;*/
  margin: 2vh 0;
}
.short-title{
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  width: 32.8125vw;
  margin: 2vh 0;
}

.teacher_block{
  /*width: calc(27.5vh + 100px);*/
  width: 35.5vw;
  height: 16.5vh;
  margin-top: 4vh;
  margin-right: -2%;
  /*margin-right: calc(71.875vh - 55vh - 200px);*/
}
/*
.photo_right{
  width: calc(27.5vh + 100px);
  height: 16.5vh;
  float: right;
  margin-top: 4vh;
}
*/

.photo{
  width: auto;
  height: auto;
  float: left;
  margin-right: 1vw;
}

#t1{
  /*width: 6.5vw;*/
  font-weight: 500;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.025em;
  color: rgba(50, 50, 50, 1);
}

#t2{
  /*width: 6.5vw;*/
  font-weight: 500;
  font-size: 1em;
  line-height: 2.25em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.teacher{
  width: 6.5vw;
  display: inline-block;
  /*margin-left: 1%;*/
}

#graduate{
  margin-bottom: 1.5vh;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.profession{
  float: right;
  display: inline-block;
  left: 100%;
  top:0;
  vertical-align: top;
  width: 20vw;
  height: 16.8vh;
}

.profession li{
  /*
  height: 2vh;
  margin-bottom: 1.5vh;
  font-weight: 400;
  font-size: 1em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  */
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 1.25vh;
}

.name_block span{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}


/*行政人員內頁css*/



.professor_big_image{
  width:98%;
  height: 54.75vh;
  margin-top: 3vh;
  z-index: -1;
  margin-bottom: 4vh;
}

.professor_block_text1 p{
  font-weight: 400;
  font-size: 1.6em;
  /*line-height: 3.25em;*/
  letter-spacing: 0.12em;
  color: rgba(255,255,255,1);
}

.professor_block_text2 p{
  font-weight: 500;
  font-size: 2.5em;
  line-height: 4.75vh;
  letter-spacing: 0.3em;
  color: rgba(255,255,255,1);
}

.professor_block_text3 p{
  font-weight: 400;
  font-size: 1.2em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(255,255,255,1);
  border-top: rgba(255, 255, 255, 1) solid;
}

#hr-line hr{
  display: block;
  /*color: rgba(255,255,255,0.8);*/
  position: relative;
}

/*行政人員內文樣式*/

#n1{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 1vh;
}

#n2{
  font-weight: 500;
  font-size: 1.2em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 1vh;
}

.staff_data li, .job_content li{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 2.25vh;
  letter-spacing: 0em;
}

/*在校生樣式*/

.button_style_black{  /*依領域*/
  border-radius: 5px;
  text-decoration-line: none;
  text-align: justify;
  padding: 2px 10px;
  background-color: #000;
  border: 1px solid rgba(50, 50, 50, 1);
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.25vh;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 1);
  margin-right: 0.9375vw;
}

.button_style_white{  /*依領域*/
  border-radius: 5px;
  text-decoration-line: none;
  text-align: justify;
  padding: 2px 10px;
  background-color: rgba(220, 220, 220, 1);
  border: 1px solid rgba(225, 225, 225, 1);
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.25vh;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 1);
  margin-right: 0.9375vw;
}

.category{
  font-weight: 400;
  font-size: 1.2em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 0.75vh;
}

.names{
  margin-top: 0.5vh;
  height: 10vh;
  width: 36.6vw;
}

.names ol{
  margin-bottom: 2vh;
  width: 36vw;
}

.names li{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-right: 1.5625vw;
  list-style: none;
  display: inline-block;
}

/*畢業生樣式*/

.photo-graduate{
  display: inline-block;
  width:31.25vh;
  height:31.25vh;
  margin-right:3.5vw;
  position: relative;
  overflow: hidden;
  /*transform:translate(-50%,-50%);*/
  -moz-box-shadow: -4px -4px 3px rgba(20%,20%,40%,0.5);
  -webkit-box-shadow: -4px -4px 3px rgba(20%,20%,40%,0.5);
  box-shadow: -2px 2px 34px 0px rgba(20%,20%,40%,0.5);
}

.photo-graduate img{
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  display: block;
  min-width: 100%;
  min-height: 100%;

}

#g1{ /*畢業生姓名*/
  font-weight: 600;
  font-size: 2.2em;
  line-height: 4vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  width: fit-content;
}

#g2{ /*畢業生職業*/
  font-weight: 300;
  font-size: 1.2em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  width: fit-content;
}

.education p{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

#graduate_email{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.75vh;
  color: rgba(50, 50, 50, 1);
}

.experience p{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.4em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 1vh;
}

.back-to-list{
  border-radius: 60px;
  text-align: justify;
  padding: 24px 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  margin-right: 0.9375vw;
  text-decoration-line: unset;
}

/*研究方向樣式*/
.direction p{
  font-weight: 400;
  font-size: 1.25em;
  line-height: 3vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

#content{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 2em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  text-align: justify;
}

/*首頁--消息清單頁*/
.newslist-title{
  font-weight: 400;
  font-size: 1.3em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.btn_left{
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/btn/btn_list_left.svg);
  background-size: cover;
}

.btn_right{
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-image: url(../images/btn/btn_list_right.svg);
  background-size: cover;
  margin-right: 0.75vw;
}

#jump_to{
  position: absolute;
  float: left;
  height: 20px;
  width: 6.5vw;
  vertical-align: top;
  display: inline-block;
  border: solid 1px #323232;
  border-radius: 0.5vmin;
  margin: 0.5;
}
.btn-go{
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  background-image: url(../images/btn/btn_list_go.svg);
  background-size: cover;
}

.page-style{
  margin: 0 0.5vw;
}

.page-now{
  padding: 0 0.8vw 0 0.5vw;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #000;
  height: 2.5vh;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 2.5vh;
  color: rgba(50, 50, 50, 1);
}

.page-all{
  padding: 0vw 0.5vw;
  height: 2.5vh;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 2.5vh;
  color: rgba(50, 50, 50, 1);
}

/*教師著作樣式*/

.book_block_animation{
  -webkit-animation-name: gray-animate;
  -webkit-animation-duration: 2s;
  animation-name: gray-animate;
  animation-duration: 2s;
  position: relative;
}

.book_content_block_animation{
  -webkit-animation-name: text-animate;
  -webkit-animation-duration: 5s;
  animation-name: text-animate;
  animation-duration: 5s;
}

.book_animation{
  -webkit-animation-name: book-animate;
  -webkit-animation-duration: 5s;
  animation-name: book-animate;
  animation-duration: 5s;
}

@-webkit-keyframes gray-animate {
    0%   {background-color: rgba(230, 230, 230, 1); right:0; left: 66.5vw;}
    100% {background-color: rgba(230, 230, 230, 1); left: 0;}
}

/* Standard syntax */

@keyframes gray-animate {
  0%   {background-color: rgba(230, 230, 230, 1); right:0; left: 66.5vw;}
  100% {background-color: rgba(230, 230, 230, 1); left: 0;}
}

@-webkit-keyframes text-animate {
    0%   {opacity:0}
    100% {opacity:1}
}

/* Standard syntax */

@keyframes text-animate {
    0%   {opacity:0}
    100% {opacity:1}
}

@-webkit-keyframes book-animate {
    0%   {opacity:0}
    100% {opacity:1}
}

/* Standard syntax */

@keyframes book-animate {
    0%   {opacity:0}
    100% {opacity:1}
}

.book_block{
  width: 66.5vw;
  height: 25vh;
  background-color: rgba(230, 230, 230, 1);
  margin-bottom: 2vh;
}

.book img{
  height: 20vh;
  max-width: 100%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  display: block;


  min-width: 100%;
  min-height: 100%;

  box-shadow: 0px 0px 17px -1px rgba(20%,20%,40%,0.5);
}

#click_Y_book{
  font-weight: 400;
  font-size: 1.2em;
  line-height: 2vh;
  color: rgba(50, 50, 50, 1);
}

.other_Y_block{
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  color: rgba(230, 230, 230, 1);
  margin-top:2vh;
  height:1.5vh;
}

.book_content_block{
  padding: 0 2.8vw;
  width: 45vw;
  height: 20vh;
  display: inline-block;
  margin-top: 3vh;
  border-left: #d6d6d6 solid 2px;
  position: absolute;
}

.book_content_title{
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2em;
  color: rgba(50, 50, 50, 1);
}

.subtitle1{
  font-weight: 400;
  font-size: 1.25em;
  line-height: 2.5vh;
  color: rgba(50, 50, 50, 1);
  margin-top: 2vh;
  margin-bottom: 1.5vh;
}

.subtitle2{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5vh;
  color: rgba(50, 50, 50, 1);
}

/*研究計畫樣式*/

.title_r{
  font-weight: 600;
  font-size: 1.5em;
  line-height: 3vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.plan_block{
  width: 71vw;
  margin-top: 4vh;
  margin-bottom: 1vh;
  padding: 1vh 0.8vw;
  border-bottom: #000 solid 1px;
}

.plan_detail{
  width: 71vw;
  padding: 1vh 0.8vw;
  border-bottom: #000 solid 1px;
}

.button_style_plan1{
  font-weight: 100;
  font-size: 0.9em;
  line-height: 2vh;
  text-align: justify;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-decoration-line: none;
  padding: 9px 11px;
  background-color: rgba(60, 0, 110, 0.8);
  letter-spacing: 0.1em;
  margin-right: 0.75vw;
  float: right;
}

#planname_style{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  display: inline-block;

}

/*最新消息內頁樣式*/

.title_year{
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.title_date{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5vh;
  text-align: justify;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  /*text-decoration-line: none;*/
  padding: 2px 6px;
  background-color: rgba(50, 50, 50, 1);
}

.host,
.speaker{
  /*
  font-weight: 300;
  font-size: 0.7em;
  line-height: 1.3vh;
  letter-spacing: 0.05em;
  text-align: justify;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-decoration-line: none;
  padding: 1px 6px;
  background-color: rgba(50, 50, 50, 1);
  */

  width:4vw;
  font-weight: 300;
  font-size: 0.7em;
  line-height: 1.3em;
  letter-spacing: 0.05em;
  text-align: -webkit-center;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 3px 0;
  background-color: rgba(50, 50, 50, 1);

}

.title_chi{
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5vh;
  color: rgba(50, 50, 50, 1);
}

.time{
  float: left;
  display: inline-block;
  width: 6.25vw;
  margin-right: 1vw;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50 ,50, 1);
}

.place{
  width: 43vw;
  margin-left: 1vw;
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
  font-size: 0.7em;
  line-height: 2vh;
  color: rgba(50, 50 ,50, 1);
  letter-spacing: 0.1em;
}

.button_register,
.button_website
{
  border-radius: 5px;
  text-decoration-line: none;
  text-align: justify;
  padding: 2px 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 1);
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.25vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.detail_info p{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2.5vh;
  color: rgba(50, 50, 50, 1);
  margin: 1vh 0;
}

.left_side p,
.right_side p{
  font-weight: 300;
  font-size: 0.7em;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: rgba(50, 50 ,50, 1);
}

/*海報直式樣式*/
#title_chi{
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 1vh;
}

#title_eng{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5vh;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 1.25vh;
}

.poster_year{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5vh;
  text-align: justify;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  /*text-decoration-line: none;*/
  padding: 2px 6px;
  background-color: rgba(50, 50, 50, 1);
  display: inline-block;
  float: left;
}

.poster_date{
  margin-left: 0.75vw;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50 ,50, 1);
  display: inline-block;
}

#place_chi{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50 ,50, 1);
}

#place_eng{
  font-weight: 300;
  font-size: 0.7em;
  line-height: 2vh;
  color: rgba(50, 50 ,50, 1);
}

.lecturer p{
  font-weight: 300;
  font-size: 0.7em;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: rgba(50, 50 ,50, 1);
  width:37.5vw;
}

.go_register,
.go_website{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50 ,50, 1);
}

.content_guideline p{
  width: 37.5vw;
  font-weight: 300;
  font-size: 0.7em;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: rgba(50, 50 ,50, 1);
  margin-bottom: 5vh;
}

.num_button{
  border-radius: 100px;
  text-align: justify;
  padding: 2px 8px;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 1);
  text-decoration-line: unset;
}

/*課程規劃 - 本學年課程樣式*/

.day_text{
  float: left;
  width:2.35vw;
  height:25.5vh;
  display: table;
  font-weight: 400;
  font-size: 1em;
  /* line-height: 5.625vh; */
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  background-color: rgba(230,230,230,1);
  text-align: -webkit-center;
}

.day_text p{
  margin-top: 8vh;
  width: 1.35vw;
  height: 5.625vh;
  text-align: justify;
}

#num-up,
#num-down{
 border: rgba(230,230,230,1) solid 1px;
}

#num-up p,
#num-down p{
 margin-top: 5vh;
}

.course-title-chi{
  font-weight: 600;
  font-size: 1.25em;
  line-height: 2.25vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.course-title-eng{
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5vh;
  color: rgba(50, 50, 50, 1);
}

.professor-name-chi{
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5vh;
  letter-spacing: 0.1em;
  margin-bottom: 0.55vh;
  color: rgba(50, 50, 50, 1);
}

.professor-name-eng{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5vh;
  color: rgba(50, 50, 50, 1);
}

.button_style_blue{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5vh;
  letter-spacing: 0.3em;
  text-align: justify;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-decoration-line: none;
  padding: 9px 11px;
  background-color: rgba(105, 200, 255, 1);
  letter-spacing: 0.1em;
  margin-right: 1vw;
  float: left;
}

.button_style_gray{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5vh;
  letter-spacing: 0.3em;
  color: rgba(50, 50, 50, 1);
  text-align: justify;
  border-radius: 5px;
  text-decoration-line: none;
  padding: 9px 11px;
  background-color: rgba(230, 230, 230, 1);
  letter-spacing: 0.1em;
  margin-right: 1vw;
  float: left;
}

/* 課程內文樣式 */

.course-title{
  font-weight: 600;
  font-size: 2.4em;
  line-height: 4.5vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.teacher-name{
  font-weight: 400;
  font-size: 1.6em;
  line-height: 4vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.course-words{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.75vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.detail-course-block p{
  font-weight: 400;
  font-size: 0.9em;
  line-height: 2vh;
  margin-bottom: 2vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

.course-download,
.curriculum{
  border-radius: 60px;
  text-align: justify;
  padding: 24px 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  margin-right: 0.9375vw;
  text-decoration-line: unset;
}

/* 講座課程樣式 */

.photo-lecture{
  float: left;
  display: inline-block;
  width:28.125vw;
  height:18.75vh;
  margin-right:1.875vw;
  position: relative;
  overflow: hidden;
  /*transform:translate(-50%,-50%);*/
  -moz-box-shadow: 0px 1px 15px rgba(20%,20%,40%,0.5);
  -webkit-box-shadow: 0px 1px 15px rgba(20%,20%,40%,0.5);
  box-shadow: 0px 1px 15px rgba(20%,20%,40%,0.5);
}

.photo-lecture img{
  top: 50%;
  left: 50%;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.lecture-date{
  font-weight: 600;
  font-size: 1.25em;
  line-height: 2.25vh;
  color: rgba(50, 50, 50, 1);
  margin-top: 1.25vh;
  margin-bottom: 1.25vh;
}

.lecture-topic{
  font-weight: 600;
  font-size: 1.6em;
  line-height: 3.25vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 0.75vh;
}

.lecture-topic-eng{
  font-weight: 600;
  font-size: 1.25em;
  line-height: 2.75vh;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 2vh;
}

.lecturers{
  font-weight: 600;
  font-size: 0.9em;
  line-height: 2vh;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 1vh;
}

.lecture-classroom{
  font-weight: 600;
  font-size: 0.8em;
  line-height: 2vh;
  color: rgba(50, 50, 50, 1);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
