/*表格樣式表*/



*{
  font-family: "source-han-serif-tc",serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}

body{
  /*overflow: hidden;*/
  color: rgba(50, 55, 60, 1);
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
 }

img {
  border:none;
}

/*表格樣式表*/

.table {
	/* border-width: 1px 1px 0px 0px; */
  width:72vw;
  margin-bottom: 3vh;
  border:rgba(230, 230, 230, 1) solid 1px;
}
.intable {
	border-width: 0px 1px 0px 0px;
}
/* .table, .intable {
    display:table;
    width:100%;
    height:100%;
} */
.cell {
    display:table-cell;
}
.row {
    display:table-row;
    width:auto;
}

.row_container{
    display:table-row;
    width:auto;
}
/* .cell {
    border-width: 0px 0px 1px 1px;
    width:25%;
} */
.merged{
  /* width:50%;
  height:50%; */
  width: 2.35vw;
  height: 25vh;
  background: rgba(230, 230, 230, 1);
  text-align: -webkit-center;
  vertical-align: middle;
}
/* .table, .intable, */

.cell_weekdays{
  display: table-cell;
  border: rgba(230, 230, 230, 1) solid 1px;
  text-align: center;
  vertical-align: middle;
  padding: 0 2px;
  background: rgba(230, 230, 230, 1);
  width: 2.35vw;
}

.cell {
  height: 12.5vh;
  border:rgba(230, 230, 230, 1) solid 1px;
  text-align: center;
  vertical-align: middle;
  padding: 0 2px;
}

.album-cell-test {
  width:23.4vw;
  height: 11.6vw;
  border:rgba(50, 50, 50, 1) solid 1px;
  padding-top: 6.25vh;
  padding-left: 1.25vw;
  margin-right: 0.8vw;
  margin-bottom: 1.25vh;
  float: left;
  display: inline-block;
  overflow:hidden;
  position: relative;
}

.course{
  height: 12.5vh;
  border:rgba(230, 230, 230, 1) solid 1px;
  /* text-align: center; */
  vertical-align: middle;
  padding: 0 2px;
  width:33.125vw;
  padding-left: 1vw;
  padding-top:1.25vh;
}

#btn-course-block{
  width:33.825vw;
  padding-top:1.5vh;
  vertical-align: top;
  padding-left: 1vw;
}
/*
.course-button{
  height: 12.5vh;
  border: rgba(230, 230, 230, 1) solid 1px;
  text-align: center;
  vertical-align: middle;
  padding: 0 2px;
  width:33.825vw;
} */

.semester{
  margin-right: 1vw;
  float: right;
  font-weight: 400;
  font-size: 1em;
  line-height: 2.75vh;
  width: 12vw;
  height: 2.25vw;
  border-radius: 6px;
  padding: 1px 3px;
  letter-spacing: 0.1em;
  /* background-color: rgba(230,230,230,1);
  border: none; */
  color: rgba(100,100,100,1);
}

.options select{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  overflow: hidden;
  padding-left: 10px;
  /* background: url('<?php bloginfo('template_url'); ?>/images/btn/arrowhead-pointing-down.png')  no-repeat; */

}

/* .options:after {

  content: ' ▼ ';
  font: 20px "Consolas", monospace;
  line-height: 1.75vh;
  color: rgba(150,150,150,1);
  padding-left: 15px;
  border-left: rgba(150,150,150,1) solid 2px;
  position: relative;
  pointer-events: none;
} */

/** adjust font size **/

@media screen and (max-width: 1023px){
    body{ font-size: 75%; }
}
@media screen and (min-width: 1024px) and (max-width: 1087px){
    body{ font-size: 80%; }
}
@media screen and (min-width: 1088px) and (max-width: 1151px){
    body{ font-size: 85%; }
}
@media screen and (min-width: 1152px) and (max-width: 1215px){
    body{ font-size: 90%; }
}
@media screen and (min-width: 1216px) and (max-width: 1279px){
    body{ font-size: 95%; }
}
@media screen and (min-width: 1280px) and (max-width: 1343px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1344px) and (max-width: 1407px){
    body{ font-size: 105%; }
}
@media screen and (min-width: 1408px) and (max-width: 1471px){
    body{ font-size: 110%; }
}
@media screen and (min-width: 1472px) and (max-width: 1535px){
    body{ font-size: 115%; }
}
@media screen and (min-width: 1536px) and (max-width: 1599px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 1600px) and (max-width: 2000px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 2001px) and (max-width: 4000px){
    body{ font-size: 180%; }
}
@media screen and (min-width: 4001px) {
    body{ font-size: 280%; }
}




@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
